<div nz-row>
  <nz-input-number
    nz-input
    [(ngModel)]="this.pageNumber"
    [nzStep]="1"
    [nzMin]="1"
    style=" float: left; margin-left: 10px;"
  ></nz-input-number>

  <button nz-button nzType="primary" (click)="this.search()"
          [nzLoading] = "this.busy"
          style=" float: left; margin-left: 10px;"
  ><i nz-icon nzType="search"></i>查询</button>
</div>

<div nz-row>
  <nz-table #basicTable [nzData]="this.datalist" nzSize="small"
  >
    <thead>
    <tr>
      <th>医保目录编码</th>
      <th>医保目录限价类型</th>
      <th>医保目录超限处理方式</th>
      <th>参保机构医保区划</th>
      <th>开始日期</th>
      <th>结束日期</th>
      <th>医保目录定价上限金额</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data.hilist_code}}</td>
      <td>{{data.hilist_lmtpric_type}}</td>
      <td>{{data.overlmt_dspo_way}}</td>
      <td>{{data.insu_admdvs}}</td>
      <td>{{data.begndate}}</td>
      <td>{{data.enddate}}</td>
      <td>{{data.hilist_pric_uplmt_amt}}</td>
    </tr>
    </tbody>
  </nz-table>
</div>
