<div nz-row style="margin-left: 3%">
  <nz-range-picker [(ngModel)]="filterDateRange"
                   style="float: left;margin-right: 10px;"
  ></nz-range-picker>

  <button nz-button (click)="this.reload()"
          style="float: left;margin-right: 10px;"
  >检索
  </button>

  <button nz-button (click)="this.manualAdjustment()"
          style="float: left;margin-right: 10px;"
          [disabled]="!this.settlementSummary"
  >手工调节
  </button>

  <button nz-button (click)="this.adjustmentCompleted()"
          style="float: left;margin-right: 10px;"
          [disabled]="!this.inEdit"
  >调节完毕
  </button>

  <button nz-button (click)="this.print()"
          style="float: left;margin-right: 10px;"
          [disabled]="!this.settlementSummary"
  >打印
  </button>
</div>
<div nz-row *ngIf="this.inEdit">
  <nz-alert nzType="info" nzMessage="手工调节至需要输入调节的数量，如原表单个人账户支付为100，输入50后按调节完毕按钮，个人账户支付变更为150"></nz-alert>
</div>

<div nz-row class="container">

  <div nz-row>
    <div nz-col nzSpan="12">
      <div nz-row>
        <div nz-col nzSpan="3" class="cell">
          <p style="margin-top: 3.5mm">
            单位性质
          </p>
        </div>
        <div nz-col nzSpan="3" class="cell">
          <p style="margin-top: 3.5mm">
            人员性质
          </p>
        </div>
        <div nz-col nzSpan="6" class="cell">
          <p style="margin-top: 3.5mm">
            机关事业团体
          </p>
        </div>
        <div nz-col nzSpan="6" class="cell">
          <p style="margin-top: 3.5mm">
            企业
          </p>
        </div>
        <div nz-col nzSpan="6" class="cell">
          <p style="margin-top: 3.5mm">
            其他
          </p>
        </div>
      </div>
    </div>

    <div nz-col nzSpan="12">
      <div nz-row>
        <div nz-col nzSpan="6" class="cell">
          <p style="margin-top: 3.5mm">
            申请拨付金额
          </p>
        </div>
        <div nz-col nzSpan="6" class="cell">
          <p style="margin-top: 3.5mm">
            申请拨付小计
          </p>
        </div>
        <div nz-col nzSpan="3" class="cell">
          <p style="margin-top: 1.25mm">
            审核剔除<br>金额
          </p>
        </div>
        <div nz-col nzSpan="3" class="cell">
          <p style="margin-top: 1.25mm">
            审核剔除<br>小计
          </p>
        </div>
        <div nz-col nzSpan="3" class="cell">
          <p style="margin-top: 1.25mm">
            核定拨付<br>金额
          </p>
        </div>
        <div nz-col nzSpan="3" class="cell">
          <p style="margin-top: 1.25mm">
            核定拨付<br>小计
          </p>
        </div>
      </div>
    </div>
  </div>

  <div nz-row *ngFor="let account of this.settlementSummary?.accountList">
    <div nz-col nzSpan="12">
      <div nz-row>
        <div nz-col nzSpan="3" class="cell">
          <p style="margin-top: 3.5mm">
            {{account.accountName}}
          </p>
        </div>
        <div nz-col nzSpan="3" class="cell">
          <div nz-row class="singleLineCell">
            <p style="margin-top: 1mm">
              在职
            </p>
          </div>
          <div nz-row class="singleLineCell">
            <p style="margin-top: 1mm">
              退休
            </p>
          </div>
        </div>
        <div nz-col nzSpan="6" class="cell">
          <div nz-row class="singleLineCell">
            <p style="margin-top: 1mm" *ngIf="!this.inEdit">
              {{(account.workingPayment.civilTypePayment
              + account.workingPayment.civilAdjustment).toFixed(2)}}
            </p>
            <nz-input-number
              nzSize="small"
              *ngIf="this.inEdit"
              nz-input
              [(ngModel)]="account.workingPayment.civilAdjustment"
              [nzStep]="1"
              [nzMin]=0
              nzPrecision="2"
            ></nz-input-number>
          </div>
          <div nz-row class="singleLineCell">
            <p style="margin-top: 1mm" *ngIf="!this.inEdit">
              {{(account.retiredPayment.civilTypePayment
              + account.retiredPayment.civilAdjustment).toFixed(2)}}
            </p>
            <nz-input-number
              nzSize="small"
              *ngIf="this.inEdit"
              nz-input
              [(ngModel)]="account.retiredPayment.civilAdjustment"
              [nzStep]="1"
              [nzMin]=0
              nzPrecision="2"
            ></nz-input-number>
          </div>
        </div>
        <div nz-col nzSpan="6" class="cell">
          <div nz-row class="singleLineCell">
            <p style="margin-top: 1mm" *ngIf="!this.inEdit">
              {{(account.workingPayment.companyTypePayment
              + account.workingPayment.companyAdjustment).toFixed(2)}}
            </p>
            <nz-input-number
              nzSize="small"
              *ngIf="this.inEdit"
              nz-input
              [(ngModel)]="account.workingPayment.companyAdjustment"
              [nzStep]="1"
              [nzMin]=0
              nzPrecision="2"
            ></nz-input-number>
          </div>
          <div nz-row class="singleLineCell">
            <p style="margin-top: 1mm" *ngIf="!this.inEdit">
              {{(account.retiredPayment.companyTypePayment
              + account.retiredPayment.companyAdjustment).toFixed(2)}}
            </p>
            <nz-input-number
              nzSize="small"
              *ngIf="this.inEdit"
              nz-input
              [(ngModel)]="account.retiredPayment.companyAdjustment"
              [nzStep]="1"
              [nzMin]=0
              nzPrecision="2"
            ></nz-input-number>
          </div>
        </div>
        <div nz-col nzSpan="6" class="cell">
          <div nz-row class="singleLineCell">
            <p style="margin-top: 1mm" *ngIf="!this.inEdit">
              {{(account.workingPayment.otherTypePayment
              + account.workingPayment.otherAdjustment).toFixed(2)}}
            </p>
            <nz-input-number
              nzSize="small"
              *ngIf="this.inEdit"
              nz-input
              [(ngModel)]="account.workingPayment.otherAdjustment"
              [nzStep]="1"
              [nzMin]=0
              nzPrecision="2"
            ></nz-input-number>
          </div>
          <div nz-row class="singleLineCell">
            <p style="margin-top: 1mm" *ngIf="!this.inEdit">
              {{(account.retiredPayment.otherTypePayment
              + account.retiredPayment.otherAdjustment).toFixed(2)}}
            </p>
            <nz-input-number
              nzSize="small"
              *ngIf="this.inEdit"
              nz-input
              [(ngModel)]="account.retiredPayment.otherAdjustment"
              [nzStep]="1"
              [nzMin]=0
              nzPrecision="2"
            ></nz-input-number>
          </div>
        </div>
      </div>
    </div>

    <div nz-col nzSpan="12">
      <div nz-row>
        <div nz-col nzSpan="6" class="cell">
          <div nz-row class="singleLineCell">

            <p style="margin-top: 1mm">
              {{
              (this.toNumber(account.workingPayment.totalPayment)
                + this.getTotalPaymentTypeAdjustment(account.workingPayment)).toFixed(2)
              }}
            </p>
          </div>
          <div nz-row class="singleLineCell">
            <p style="margin-top: 1mm">
              {{
              (this.toNumber(account.retiredPayment.totalPayment)
                + this.getTotalPaymentTypeAdjustment(account.retiredPayment)).toFixed(2)}}
            </p>
          </div>
        </div>
        <div nz-col nzSpan="6" class="cell">
          <p style="margin-top: 3.5mm">
            {{
            (this.toNumber(account.totalPayment)
              + this.getTotalPaymentTypeAdjustment(account.workingPayment)
              + this.getTotalPaymentTypeAdjustment(account.retiredPayment)).toFixed(2)
            }}
          </p>
        </div>
        <div nz-col nzSpan="3" class="cell">
          <div nz-row class="singleLineCell">
          </div>
          <div nz-row class="singleLineCell">
          </div>
        </div>
        <div nz-col nzSpan="3" class="cell">
        </div>
        <div nz-col nzSpan="3" class="cell">
          <div nz-row class="singleLineCell">
          </div>
          <div nz-row class="singleLineCell">
          </div>
        </div>
        <div nz-col nzSpan="3" class="cell">
        </div>
      </div>
    </div>
  </div>

  <div nz-row>
    <div nz-col nzSpan="12">
      <div nz-row>
        <div nz-col nzSpan="3" class="cell">
          <p style="margin-top: 3.5mm">
            合计
          </p>
        </div>
        <div nz-col nzSpan="3" class="cell">
          <div nz-row class="singleLineCell">
            <p style="margin-top: 1mm">
              在职
            </p>
          </div>
          <div nz-row class="singleLineCell">
            <p style="margin-top: 1mm">
              退休
            </p>
          </div>
        </div>
        <div nz-col nzSpan="6" class="cell">
          <div nz-row class="singleLineCell">
            <p style="margin-top: 1mm">
              {{(this.toNumber(this.settlementSummary?.totalWorkingCivilPayment)
              + this.getTotalAccountAdjustment("workingPayment", "civilAdjustment")).toFixed(2)
              }}
            </p>
          </div>
          <div nz-row class="singleLineCell">
            <p style="margin-top: 1mm">
              {{(this.toNumber(this.settlementSummary?.totalRetireCivilPayment)
              + this.getTotalAccountAdjustment("retiredPayment", "civilAdjustment")).toFixed(2)}}
            </p>
          </div>
        </div>
        <div nz-col nzSpan="6" class="cell">
          <div nz-row class="singleLineCell">
            <p style="margin-top: 1mm">
              {{(this.toNumber(this.settlementSummary?.totalWorkingCompanyPayment)
              + this.getTotalAccountAdjustment("workingPayment", "companyAdjustment")).toFixed(2)
              }}
            </p>
          </div>
          <div nz-row class="singleLineCell">
            <p style="margin-top: 1mm">
              {{(this.toNumber(this.settlementSummary?.totalRetireCompanyPayment)
              + this.getTotalAccountAdjustment("retiredPayment", "companyAdjustment") ).toFixed(2)
              }}
            </p>
          </div>
        </div>
        <div nz-col nzSpan="6" class="cell">
          <div nz-row class="singleLineCell">
            <p style="margin-top: 1mm">
              {{(this.toNumber(this.settlementSummary?.totalWorkingOtherPayment)
              + this.getTotalAccountAdjustment("workingPayment", "otherAdjustment")).toFixed(2)
              }}
            </p>
          </div>
          <div nz-row class="singleLineCell">
            <p style="margin-top: 1mm">
              {{(this.toNumber(this.settlementSummary?.totalRetireOtherPayment)
              + this.getTotalAccountAdjustment("retiredPayment", "otherAdjustment")).toFixed(2)
              }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div nz-col nzSpan="12">
      <div nz-row>
        <div nz-col nzSpan="6" class="cell">
          <div nz-row class="singleLineCell">
            <p style="margin-top: 1mm">
              {{(this.toNumber(this.settlementSummary?.totalWorkingPayment)
              + this.getTotalAccountAdjustment("workingPayment", "civilAdjustment")
              + this.getTotalAccountAdjustment("workingPayment", "companyAdjustment")
              + this.getTotalAccountAdjustment("workingPayment", "otherAdjustment") ).toFixed(2)
              }}
            </p>
          </div>
          <div nz-row class="singleLineCell">
            <p style="margin-top: 1mm">
              {{(this.toNumber(this.settlementSummary?.totalRetirePayment)
              + this.getTotalAccountAdjustment("retiredPayment", "civilAdjustment")
              + this.getTotalAccountAdjustment("retiredPayment", "companyAdjustment")
              + this.getTotalAccountAdjustment("retiredPayment", "otherAdjustment") ).toFixed(2)
              }}
            </p>
          </div>
        </div>
        <div nz-col nzSpan="6" class="cell">
          <p style="margin-top: 3.5mm">
            {{(this.toNumber(this.settlementSummary?.totalPayment)
            + this.getTotalAccountAdjustment("workingPayment", "civilAdjustment")
            + this.getTotalAccountAdjustment("workingPayment", "companyAdjustment")
            + this.getTotalAccountAdjustment("workingPayment", "otherAdjustment")
            + this.getTotalAccountAdjustment("retiredPayment", "civilAdjustment")
            + this.getTotalAccountAdjustment("retiredPayment", "companyAdjustment")
            + this.getTotalAccountAdjustment("retiredPayment", "otherAdjustment") ).toFixed(2)
            }}
          </p>
        </div>
        <div nz-col nzSpan="3" class="cell">
          <div nz-row class="singleLineCell">
          </div>
          <div nz-row class="singleLineCell">
          </div>
        </div>
        <div nz-col nzSpan="3" class="cell">
        </div>
        <div nz-col nzSpan="3" class="cell">
          <div nz-row class="singleLineCell">
          </div>
          <div nz-row class="singleLineCell">
          </div>
        </div>
        <div nz-col nzSpan="3" class="cell">
        </div>
      </div>
    </div>
  </div>

  <div nz-row>
    <div nz-col nzSpan="12" class="lastLineCell" style="text-align: left !important;">
      <div nz-row>
        定点医疗机构：
      </div>

      <div nz-row style="margin-top: 4mm; text-align: left !important;">
        制表人：
      </div>
    </div>

    <div nz-col nzSpan="12" class="lastLineCell" style="text-align: left !important;">
      <div nz-row>
        社保机构：
      </div>
    </div>
  </div>


</div>


