<div class="page">
  <div nz-row class="title">
    <span>{{this.hospitalName}}-医疗费用收款收据</span>
  </div>

  <div class="father">

    <div class="c">
      <span class="description">单号</span>
    </div>

    <div class="c">
      <span class="description">{{this.printData.payment.paymentNumber}}</span>
    </div>

    <div class="c">
      <span class="description">名字</span>
    </div>

    <div class="c">
      <span class="description">{{ this.printData.patientSignIn.patient.name}}</span>
    </div>

    <div class="c">
      <span class="description">病区</span>
    </div>

    <div class="c">
      <span class="description">{{this.printData.patientSignIn.currentBedInfo}}</span>
    </div>

    <div class="c">
      <span class="description">缴费方式</span>
    </div>

    <div class="c">
      <span class="description">{{this.printData.payment.paymentMethod.name}}</span>
    </div>

    <div class="c">
      <span class="description">缴费时间</span>
    </div>

    <div class="c" style="width: 50%">
      <span class="description">{{this.printData.payment.whenCreated}}</span>
    </div>

    <div class="c">
      <span class="description">金额（大写）</span>
    </div>

    <div class="c" style="width: 50%">
      <span class="description">  {{this.printData.payment.moneyInChinese}}</span>
<!--      <span class="description">  {{this.feeService.toChineseNumeral(this.printData.payment.amount)}}</span>-->
    </div>

    <div class="c">
      <span class="description">金额（小写）</span>
    </div>

    <div class="c" >
      <span class="description">  {{this.printData.payment.amount}}</span>
    </div>

    <div class="c">
      <span class="description">收费单位</span>
    </div>

    <div class="c" style="width: 50%">
      <span class="description">{{this.hospitalName}}</span>
    </div>

    <div class="c">
      <span class="description">收费人</span>
    </div>

    <div class="c" >
      <span class="description">{{this.printData.payment.whoCreated}}</span>
    </div>

    <div class="c">
      <span class="description">缴款人签字</span>
    </div>

    <div class="c" style="width: 83.33%">

    </div>
  </div>
</div>

