<nz-tabset>
  <nz-tab nzTitle="物资管理模块测试">
    <p style="margin-top: 0;margin-right: 0;margin-bottom: 0;padding: 0;line-height: 42px">
      <strong><span style="font-family: 宋体;letter-spacing: 0;font-size: 16px"><span
        style="font-family:宋体">系统网址</span></span></strong><strong><span
      style="font-family: 宋体;letter-spacing: 0;font-size: 16px">:</span></strong>
    </p>
    <p style="margin: 0 0 0 14px;text-indent: 0;padding: 0;line-height: 42px">
      <a href="http://web.his.lukelin.cn/staff/landing"><span style="text-decoration:underline;"><span
        style="font-family: 宋体;color: rgb(0, 0, 255);letter-spacing: 0;font-size: 16px">http://web.his.lukelin.cn/</span></span></a><span
      style="font-family: 宋体;letter-spacing: 0;font-size: 16px">&nbsp;直接使用浏览器打开，注册账号后通知管理员，管理员负责激活账号后既可使用</span>
    </p>
    <p style="margin: 0 0 0 14px;text-indent: 0;padding: 0;line-height: 42px">
      <span style="font-family: 宋体;letter-spacing: 0;font-size: 16px">&nbsp;</span>
    </p>
    <p style=";text-indent: 0;padding: 0;line-height: 42px">
      <strong><span style="font-family: 宋体;letter-spacing: 0;font-size: 16px"><span
        style="font-family:宋体">测试人员</span></span></strong><span
      style="font-family: 宋体;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">：</span></span>
    </p>
    <p style=";text-indent: 0;padding: 0;line-height: 42px">
      <span style="font-family: 宋体;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">会计，</span>&nbsp;仓库管理员</span><span
      style="font-family: 宋体;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">，</span></span><span
      style="font-family: 宋体;letter-spacing: 0;font-size: 16px">&nbsp;<span style="font-family:宋体">药房管理员</span></span>
    </p>
    <p style=";text-indent: 0;padding: 0;line-height: 42px">
      <span style="font-family: 宋体;letter-spacing: 0;font-size: 16px">&nbsp;</span>
    </p>
    <p style=";text-indent: 0;padding: 0;line-height: 42px">
      <strong><span style="font-family: 宋体;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">测试目标</span>:</span></strong>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px">仓库管理员：</span>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">使用</span>HIS<span
        style="font-family:宋体">系统维护医院物资基本资料。</span></span>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">使用</span>HIS<span
        style="font-family:宋体">系统完成医院的物品申购到入库流程。</span></span>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">使用</span>HIS<span
        style="font-family:宋体">系统完成医院的物品申请退货到出库流程。</span></span>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">使用</span>HIS<span
        style="font-family:宋体">系统完成科室申领物资流程。</span></span>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">使用</span>HIS<span
        style="font-family:宋体">新系统完成后勤部门物资发放。</span></span>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">详情点击上方</span>‘</span><em><span
      style="text-decoration:underline;"><span style="font-family: 宋体;font-size: 14px">仓库管理员测试内容</span></span></em><span
      style=";font-family:宋体;font-size:14px">’</span>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px">&nbsp;</span>
    </p>
    <p>
      <span style="font-family: 宋体;letter-spacing: 0;font-size: 16px"><span style="font-family:宋体">管理员</span></span>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">使用</span>HIS<span
        style="font-family:宋体">系统维护医院药品基本资料。</span></span>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">使用</span>HIS<span
        style="font-family:宋体">系统完成医院的药品申购到入库流程。</span></span>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">使用</span>HIS<span
        style="font-family:宋体">系统完成医院的药品申请退货到出库流程。</span></span>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">使用</span>HIS<span
        style="font-family:宋体">系统完成科室申领药品流程。</span></span>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">使用</span>HIS<span
        style="font-family:宋体">系统完成科室申领退药流程。</span></span>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">详情点击上方</span>‘药房</span><em><span
      style="text-decoration:underline;"><span style="font-family: 宋体;font-size: 14px">测试内容</span></span></em><span
      style=";font-family:宋体;font-size:14px">’</span>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px">&nbsp;</span>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px">会计：</span>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px">配合参与仓库于药房的采购于退货流程，包括完善采购信息，采购，退货，出入库的审批。</span>
    </p>
    <p>
      <br/>
    </p>
  </nz-tab>
  <nz-tab nzTitle="物资采购，退购，领用流程">
    <p>
      <strong><span style="font-family: 宋体;font-size: 14px">物品采购流程：</span></strong><strong></strong>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px">1<span style="font-family:宋体">：库房登记采购申请。</span></span>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px">2<span style="font-family:宋体">：财务审核是否允许采购。</span></span>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px">3<span style="font-family:宋体">：通过后采购员进行采购，采购完成后提交采购单供财务审核。财务审核采购物品是否和申购单品类和数量是否相符。</span></span>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px">4<span style="font-family:宋体">：到货后仓库根据审批通过的采购单制作入库单，制作完成后由财务审核，审核通过后物品在系统里入库。</span></span>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px">&nbsp;</span>
    </p>
    <p>
      <strong><span style="font-family: 宋体;font-size: 14px">物品退购流程：</span></strong><strong></strong>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px">1<span style="font-family:宋体">：采购员直接发起退购订单，前往仓库提货，仓库审核采购单和实际提取货物是否相符，相符后确认退购订单，物品在系统里出库。</span></span>
    </p>
    <p>
      <span style=";font-family:Calibri;font-size:14px">&nbsp;</span>
    </p>
    <p>
      <strong><span style="font-family: 宋体;font-size: 14px"><span
        style="font-family:宋体">科室申领出库流程</span>:</span></strong><strong></strong>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">科室申领</span>=<span
        style="font-family:宋体">》仓库提交出库</span><span style="font-family:Calibri">=</span><span style="font-family:宋体">》科室确认收货</span></span>
    </p>
    <p>
      <span style=";font-family:Calibri;font-size:14px">&nbsp;</span>
    </p>
    <p>
      <strong><span style="font-family: 宋体;font-size: 14px"><span
        style="font-family:宋体">后勤物资发放流程</span>:</span></strong><strong></strong>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px">将来需和科室申领流程同样处理，因目前没有负责人，故省去申领和确认收货流程，由仓库管理员直接制单发放。</span>
    </p>
    <p>
      <strong><span style="font-family: 宋体;font-size: 14px">&nbsp;</span></strong>
    </p>
    <p>
      <strong><span style="font-family: 宋体;font-size: 14px">测试任务和场景，包括但不局限于以下举例</span></strong><strong></strong>
    </p>
    <p>
      <span style="font-family: 宋体;font-size: 14px">新建若干新物资基本信息。</span>
    </p>
    <p>
      <span style="font-family: 宋体;font-size: 14px">使用新物资完成若干采购单，退购单，科室申领单，以及后勤物资发放。</span>
    </p>
    <p>
      <span style="font-family: 宋体;font-size: 14px"><span style="font-family:宋体">在以上流程中，尝试使用不同的入库，</span> <span
        style="font-family:宋体">出库单位，并检出出入库后的库存是否准确。</span></span>
    </p>
    <p>
      <span style="font-family: 宋体;font-size: 14px"><span style="font-family:宋体">在流程中尝试拒绝审批，</span> <span
        style="font-family:宋体">修改，再审批，直至完成流程。</span></span>
    </p>
    <p>
      <span style="font-family: 宋体;font-size: 14px">尝试完成部分的退单，如进货一箱，使用掉一半以后，退除剩余部分。</span>
    </p>
    <p>
      <br/>
    </p>
  </nz-tab>
  <nz-tab nzTitle="药房测试内容">
    <p>
      <strong><span style="font-family: 宋体;font-size: 14px">药品采购流程：</span></strong><strong></strong>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">申请采购</span>=<span
        style="font-family:宋体">》财务审核</span><span style="font-family:Calibri">=</span><span style="font-family:宋体">》采购，完善采购单采购信息</span><span
        style="font-family:Calibri">=</span><span style="font-family:宋体">》到货药房申请入库</span><span
        style="font-family:Calibri">=</span><span style="font-family:宋体">》财务核对入库</span></span>
    </p>
    <p>
      <strong><span style="font-family: 宋体;font-size: 14px">&nbsp;</span></strong>
    </p>
    <p>
      <strong><span style="font-family: 宋体;font-size: 14px">流程解析</span></strong>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">申请采购：</span> <span
        style="font-family:宋体">药房管理员填写购买药品和数量，完成后提交，并通知财务审核。</span></span>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px">&nbsp;</span>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">财务审核：财务审核后，审核通过进入实际采购环节，</span> <span
        style="font-family:宋体">退回则药房重新填写或者取消订单。</span></span>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px">&nbsp;</span>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px">采购：采购员负责采购，由采购员填写相应的采购信息，如进价，进货商，批号等。如采购员无法填写，则需把发票交由会计代为填写。</span>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px">&nbsp;</span>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">到货药房申请入库</span>: <span
        style="font-family:宋体">物品到货后药房负责清点货物是否和采购单数量品类符合，确认符合后申请入库并通知财务。</span></span>
    </p>
    <p>
      <span style=";font-family:Calibri;font-size:14px">&nbsp;</span>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px">财务核对入库：财务清点货物后，确认和采购单一致后通过申请入库，物品进入系统药房库存。</span>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px">&nbsp;</span>
    </p>
    <p>
      <strong><span style="font-family: 宋体;font-size: 14px">物品退购流程：</span></strong><strong></strong>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">申请采购</span>=<span
        style="font-family:宋体">》财务审核</span><span style="font-family:Calibri">=</span><span
        style="font-family:宋体">》申请出库</span><span style="font-family:Calibri">=</span><span style="font-family:宋体">》财务核对出库库</span></span>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px">退购流程于采购相同，省去采购信息填写。</span>
    </p>
    <p>
      <span style=";font-family:Calibri;font-size:14px">&nbsp;</span>
    </p>
    <p>
      <span style=";font-family:Calibri;font-size:14px">&nbsp;</span>
    </p>
    <p>
      <strong><span style="font-family: 宋体;font-size: 14px"><span
        style="font-family:宋体">科室申领出库流程</span>:</span></strong><strong></strong>
    </p>
    <p>
      <span style=";font-family:宋体;font-size:14px"><span style="font-family:宋体">科室申领</span>=<span
        style="font-family:宋体">》药房提交出库</span><span style="font-family:Calibri">=</span><span style="font-family:宋体">》科室确认收货</span></span>
    </p>
    <p>
      <strong><span style="font-family: 宋体;font-size: 14px">&nbsp;</span></strong>
    </p>
    <p>
      <strong><span style="font-family: 宋体;font-size: 14px">测试任务和场景，包括但不局限于以下举例</span></strong><strong></strong>
    </p>
    <p>
      <span style="font-family: 宋体;font-size: 14px">新建若干新药品基本信息。</span>
    </p>
    <p>
      <span style="font-family: 宋体;font-size: 14px">使用新药品完成若干采购单，退购单，科室申领单。</span>
    </p>
    <p>
      <span style="font-family: 宋体;font-size: 14px"><span style="font-family:宋体">在以上流程中，尝试使用不同的入库，</span> <span
        style="font-family:宋体">出库单位，并检出出入库后的库存是否准确。</span></span>
    </p>
    <p>
      <span style="font-family: 宋体;font-size: 14px"><span style="font-family:宋体">在流程中尝试拒绝审批，</span> <span
        style="font-family:宋体">修改，再审批，直至完成流程。</span></span>
    </p>
    <p>
      <span style="font-family: 宋体;font-size: 14px">尝试完成部分的退单，如进货一箱，使用掉若干盒后，退除剩余部分。</span>
    </p>
    <p>
      <br/>
    </p>
  </nz-tab>
</nz-tabset>
