<form nz-form [formGroup]="orderForm">
  <div nz-row>
    <div nz-col nzSpan="4">
      <nz-alert
        *ngIf="!this.orderForm.value.selectSourceOrder"
        nzType="warning" nzMessage="请选择采购单"></nz-alert>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="5">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24"
                       nzRequired
                       nzFor="selectSourceOrder">{{this.isReturnOrder ? '退购单号' : '采购单号'}}
        </nz-form-label>
        <nz-form-control>
          <app-common-dynamic-select
            formControlName="selectSourceOrder"
            [dataList]="this.sourceOrderList"
            [totalDataCount]="this.sourceOrderListCount"
            [dataColumns]="['采购单号','批准日期','申购名称']"
            (onSearchEvent)="searchSourceOrder($event)"
            [placeHolder]="'输入单号搜索'"
            [selectionWidth]="'150px'"
          >
          </app-common-dynamic-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="16">
      <nz-descriptions nzColumn="4" style="margin-top: 10px">
        <nz-descriptions-item
          [nzTitle]="this.isReturnOrder ? '退货单位' : '供货单位'"> {{this.orderForm.value.selectSourceOrder?.supplier}}</nz-descriptions-item>
        <nz-descriptions-item
          [nzTitle]="this.isReturnOrder ? '出库单位' : '入库单位'">{{this.orderForm.value.selectSourceOrder?.toWarehouse.department.name}}</nz-descriptions-item>
        <nz-descriptions-item
          [nzTitle]="'备注'">{{this.orderForm.value.selectSourceOrder?.reference}}</nz-descriptions-item>
        <nz-descriptions-item
          [nzTitle]="'付款信息'">{{this.orderForm.value.selectSourceOrder ? this.orderForm.value.selectSourceOrder.paid ? '已付款' : '待付款' : undefined}}</nz-descriptions-item>
      </nz-descriptions>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="24">
      <button nz-button nzType="primary" (click)="  this.showSourceOrderModal(this.orderForm.value.selectSourceOrder)"
              *ngIf="this.orderPermission.allowEdit &&
                    this.order && (this.order.orderStatus == '已创建'|| this.order.uuid == undefined)
                    && this.orderForm.value.selectSourceOrder"
              style="float: left; margin-right: 10px;"
      ><i nz-icon type="plus" theme="outline"></i>添加{{this.orderType == 'item' ? '物品' : '药品'}}
      </button>
      <button nz-button nzType="primary"
              nz-popconfirm
              nzPopconfirmTitle="确认删除？"
              (nzOnConfirm)="deleteOrder()"
              nzPopconfirmPlacement="rightBottom"
              *ngIf="(this.orderPermission.allowEdit) &&
              (this.order && this.order.orderStatus == '已创建')"
              [nzLoading]="this.deleting"
              style="float: left; margin-right: 10px;"
      >删除{{this.isReturnOrder ? '出库单' : '入库单'}}
      </button>
      <button nz-button nzType="primary" (click)="updateOrderStatus('待审核', 'submit')"
              *ngIf="this.order && this.order.orderStatus == '已创建' && this.orderPermission.allowEdit"
              [nzLoading]="this.statusUpdating"
              style="float: left; margin-right: 10px;"
      >提交{{this.isReturnOrder ? '出库' : '入库'}}
      </button>
      <button nz-button nzType="primary" (click)="updateOrderStatus('已批准', 'approve')"
              *ngIf="this.order && this.order.orderStatus == '待审核' && this.orderPermission.allowApprove"
              [nzLoading]="this.statusUpdating"
              style="float: left; margin-right: 10px;"
      >确认{{this.isReturnOrder ? '出库' : '入库'}}
      </button>
      <button nz-button nzType="primary" (click)="updateOrderStatus('已创建', 'reject')"
              *ngIf="this.order && this.order.orderStatus == '待审核' && this.orderPermission.allowApprove"
              [nzLoading]="this.statusUpdating"
              style="float: left; margin-right: 10px;"
      >退回
      </button>

      <button nz-button nzType="primary" (click)="uploadImageClicked()"
              *ngIf="this.order && this.order.yborderId && this.orderPermission.allowEdit"
              [nzLoading]="this.statusUpdating"
              style="float: left; margin-right: 10px;"
      >上传影像凭据
      </button>
    </div>


  </div>
  <nz-spin [nzSpinning]="this.isLoading">
    <app-partial-order-detail-table
      [order]="this.order"
      [orderForm]="this.orderForm"
      [orderType]="this.orderType"
    >
    </app-partial-order-detail-table>
  </nz-spin>

</form>

<!--+ this.orderType == 'item' ? '物品' : '药品'-->

<nz-modal [(nzVisible)]="sourceOrderModalVisible"
          [nzTitle]="'添加采购单' + (this.orderType == 'item' ? '物品' : '药品')"
          [nzMaskClosable]=false
          (nzOnCancel)="closeModal()"
          (nzOnOk)="this.addSourceOrderLine()"
          nzOkText="添加"
          nzCancelText="关闭"
          [nzOkLoading]=this.addingSourceOrderLine
>
  <nz-spin [nzSpinning]="this.loadingSourceOrderLine">
    <nz-transfer
      [nzDataSource]="sourceOrderItemList"
      [nzTitles]="['采购物品', '入库物品']"
      nzShowSearch
      [nzFilterOption]="sourceOrderFilterOption"
    >
    </nz-transfer>
  </nz-spin>
</nz-modal>


<nz-modal [(nzVisible)]="imageUploadVisible"
          nzTitle='影像上传'
          [nzMaskClosable]=false
          (nzOnCancel)="closeImageUploadModal()"
          (nzOnOk)="this.imageUploadComponent.uploadImage()"
          nzOkText="上传"
          nzCancelText="关闭"
          [nzOkDisabled]="this.imageUploadComponent.prevImgSource == undefined"
          [nzOkLoading]=this.imageUploadComponent.imageUploading
>
  <app-yb-image-upload [order]="this.order"></app-yb-image-upload>
</nz-modal>
