
<h4>Data Hub Summary</h4>
<p>
  This solution collects distributed data from various existing systems then store them
  into a centralized data warehouse.
  <br>
  Build friendly dash board based on collected data.
</p>
<br>
<h4>Role Outline</h4>
<p>
  Requirement gathering. Understand customers current system and how they work with them.
  <br>
  Analyze which part of data need to be integrated and in which format.
  <br>
  Central data warehouse design.
  <br>
  Integration development between old system and new data warehouse.
  <br>
  Client demo and training.
</p>
<br>
<div>
  <img style="width: 80%" src="assets/image/jdydashboard.JPG">
</div>
