<nz-layout>
  <nz-sider nzCollapsible
            [(nzCollapsed)]="this.collapsed"
            nzTheme="light"
            [nzTrigger]="null"
            [nzCollapsedWidth]="30"
  >
    <div nz-row [hidden]="this.collapsed">
      <app-patient-select [selectAll]="false"
                          [allowMultiple]="false"
                          [checkable]="false"
                          [loadAllOnInit]="false"
      ></app-patient-select>
    </div>
  </nz-sider>
  <i
    nz-icon
    [nzType]="collapsed ? 'menu-unfold' : 'menu-fold'"
    (click)="this.collapsed = !this.collapsed"
  ></i>
  <nz-layout class="inner-layout">
    <div nz-row>
      <button nz-button nzType="primary" nzSize="default"
              [hidden]="!this.sessionService.getUserPermission().commonComponent.patientSignIn.nursingRecord.allowEdit"
              (click)="newNursingRecord()"
              style=" float: left;"
      >新护理记录
      </button>
      <nz-range-picker [(ngModel)]="filterDateRange"
                       style=" float: left; margin-left: 10px;"
      ></nz-range-picker>
      <button nz-button (click)="searchClicked()"
              style=" float: left;"
      >检索
      </button>

      <button nz-button
              nzType="primary" nzSize="default"
              (click)="this.printClicked()"
              style=" float: left; margin-left: 10px;"
      >打印
      </button>
    </div>
    <div nz-row>
      <nz-descriptions [nzColumn]="{ xxl: 6, xl: 6, lg: 6, md: 1, sm: 1, xs: 1 }">
        <nz-descriptions-item nzTitle="姓名">{{this.patientSignIn.patient.name}}</nz-descriptions-item>
        <nz-descriptions-item
          nzTitle="科室">{{this.patientSignIn.departmentTreatment.department.name}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="住院号">{{this.patientSignIn.signInNumberCode}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="入院日期">{{this.patientSignIn.signInDate}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="诊断">{{this.patientSignIn.diagnoseString}}</nz-descriptions-item>
      </nz-descriptions>
    </div>
    <div nz-row>
      <nz-table #basicTable [nzData]="nursingRecordList" nzSize="small"
                [nzPageSize]="30"
                [nzBordered]="true"
      >
        <thead>
        <tr>
          <th rowspan="3">时间</th>
          <th colspan="4">生命体征</th>
          <th rowspan="2">Spo2</th>
          <th rowspan="2">吸氧</th>
          <th rowspan="3">意识</th>
          <th rowspan="2" colspan="2">瞳孔大小</th>
          <th rowspan="2" colspan="2">入量</th>
          <th rowspan="2" colspan="3">出量</th>
          <th rowspan="3">管路情况</th>
          <th rowspan="3">皮肤情况</th>
          <th colspan="3">风险评估评分</th>
          <th rowspan="3">护士</th>
          <th rowspan="3"></th>
        </tr>
        <tr>
          <th>体温</th>
          <th>脉搏</th>
          <th>呼吸</th>
          <th>血压</th>
          <th rowspan="2">压疮</th>
          <th rowspan="2">跌倒坠床</th>
          <th rowspan="2">自理能力</th>
        </tr>
        <tr>
          <th>C</th>
          <th>次/分</th>
          <th>次/分</th>
          <th>mmHg</th>
          <th>%</th>
          <th>L/min</th>
          <th>左</th>
          <th>右</th>
          <th>名称</th>
          <th>ml</th>
          <th>名称</th>
          <th>ml</th>
          <th>性状</th>
        </tr>
        </thead>
        <tbody>
        <ng-template ngFor let-data [ngForOf]="basicTable.data">
          <tr>
            <td>{{data.recordDate}}</td>
            <td>{{data.bodyTemp}}</td>
            <td>{{data.pulse}}</td>
            <td>{{data.breath}}</td>
            <td>{{data.bloodPressureLow != undefined && data.bloodPressureHigh != undefined ? data.bloodPressureLow + '/' + data.bloodPressureHigh : undefined}}</td>
            <td>{{data.spo2}}</td>
            <td>{{data.oxygen}}</td>
            <td>{{data.consciousness}}</td>
            <td>{{data.leftPupilDescription}}</td>
            <td>{{data.rightPupilDescription}}</td>
            <td>{{data.inName}}</td>
            <td>{{data.inVolume}}</td>
            <td>{{data.outName}}</td>
            <td>{{data.outVolume}}</td>
            <td>{{data.outCondition}}</td>
            <td>{{data.pipingCondition}}</td>
            <td>{{data.skinCondition}}</td>
            <td>{{data.pressureSoreScore}}</td>
            <td>{{data.fallScore}}</td>
            <td>{{data.careOneselfScore}}</td>
            <td>{{data.whoCreatedName}}</td>
            <td [rowSpan]="data.description?2:1">
              <button nz-button nzSize="small" (click)="editNursingRecord(data)">查看</button>
              <button nz-button nzSize="small"
                      nz-popconfirm
                      nzTitle="删除后无法恢复，确认删除?"
                      nzPopconfirmPlacement="bottom"
                      (nzOnConfirm)="this.deleteNursingRecord(data)"
              >删除
              </button>
            </td>
          </tr>
          <tr *ngIf="data.description">
            <td colspan="21">{{data.description}}</td>
          </tr>
        </ng-template>
        </tbody>
      </nz-table>
    </div>
  </nz-layout>
</nz-layout>
<nz-modal
  [nzMaskClosable]=false
  [(nzVisible)]="detailModalVisible"
  nzTitle=护理记录
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="saveNursingRecord()"
  nzWidth="1200"
  nzOkText="保存"
  nzCancelText="关闭"
  [nzOkLoading]="this.nursingRecordDetailComponent.saving"
>
  <app-nursing-record-detail [patientSignIn]="this.patientSignIn"
                             (nursingRecordSavedEvent)="onNursingRecordSaved()"></app-nursing-record-detail>
</nz-modal>
