<form nz-form [formGroup]="paymentForm">
  <!--  [nzLayout]="'inline'"-->
  <div nz-row>
    <div nz-col nzSpan="8">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="selectPaymentType">费用类型</nz-form-label>
        <nz-form-control [nzSm]="8" [nzXs]="24" nzErrorTip="请选择费用类型">
          <nz-select
            nzShowSearch
            nzPlaceHolder="请选择费用类型"
            formControlName="selectPaymentType"
          >
            <nz-option *ngFor="let paymentType of this.paymentType"
                       [nzValue]="paymentType.index"
                       [nzLabel]="paymentType.name"></nz-option>

          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>


    <div nz-col nzSpan="8">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="selectPaymentMethod">付费方式</nz-form-label>
        <nz-form-control [nzSm]="8" [nzXs]="24" nzErrorTip="请选择付费方式">
          <nz-select
            nzShowSearch
            formControlName="selectPaymentMethod"
          >
            <nz-option *ngFor="let paymentMethod of this.paymentMethodList" [nzValue]="paymentMethod"
                       [nzLabel]="paymentMethod.code"></nz-option>
          </nz-select>
          <div *ngIf="formErrors['selectPaymentMethod']">{{ formErrors['selectPaymentMethod'] }}</div>
        </nz-form-control>
      </nz-form-item>
    </div>

  </div>
  <div nz-row>
    <div nz-col nzSpan="8">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="numberAmount">缴费金额</nz-form-label>
        <nz-form-control [nzSm]="8" [nzXs]="24">
          <nz-input-number
            [nzStep]="1000" formControlName="numberAmount"
            [nzFormatter]="formatterDollar"
            [nzParser]="parserDollar"
            [nzMin]=1
          ></nz-input-number>
          <div *ngIf="formErrors['numberAmount']">{{ formErrors['numberAmount'] }}</div>
        </nz-form-control>
      </nz-form-item>
    </div>

  </div>
</form>
