<div nz-row>

  <nz-select
    nzMode="multiple"
    nzPlaceHolder="执行科室"
    style="float: left;margin-right: 10px; width:160pt;"
    [(ngModel)]="selectedDepartmentTypeList"
    (ngModelChange)="this.reloadTreatmentList()"
  >
    <nz-option *ngFor="let departmentType of this.departmentTypeList" [nzValue]="departmentType"
               [nzLabel]="departmentType"></nz-option>
  </nz-select>

  <nz-range-picker [(ngModel)]="filterDateRange"
                   style="float: left;margin-right: 10px;"
  ></nz-range-picker>

  <input nz-input [(ngModel)]="filterLastModifiedBy"
         placeholder="最后修改人"
         style="float: left;margin-right: 10px; width:250px"
  />


  <input nz-input [(ngModel)]="filterTreatmentName"
         placeholder="诊疗项目名字/拼音搜索"
         style=" float: left; margin-left: 10px; width:300px"/>
  <button nz-button nzType="primary" (click)="searchTreatment()"
          style=" float: left; margin-left: 10px;"
  ><i nz-icon nzType="search"></i>查询
  </button>

  <button
    *ngIf="this.controlMode == 'full' || this.controlMode == 'setup'"
    nz-button nzType="primary" (click)="initTreatmentDetailModal()"
    style=" float: left; margin-left: 10px;">添加诊疗项目
  </button>

  <button nz-button nzType="primary" nzShape="circle" (click)="reloadTreatmentClicked()"
          style=" float: left; margin-left: 10px;"><i nz-icon nzType="reload"></i>
  </button>

  <label nz-checkbox [(ngModel)]="chkIncludeDisable"
         style=" float: left; margin-left: 10px;">包含作废诊疗</label>

  <ng-template [ngIf]="this.controlMode == 'full' || this.controlMode == 'setup'">
    <label nz-checkbox [(ngModel)]="this.filterOnNotUploaded"
           (ngModelChange)="this.reloadTreatmentClicked()"
           style="float: left;margin-right: 10px;">未上传诊疗</label>

    <label nz-checkbox [(ngModel)]="this.filterOnNotMatched"
           (ngModelChange)="this.reloadTreatmentList()"
           style="float: left;margin-right: 10px;">未匹配诊疗</label>
  </ng-template>

</div>
<div nz-row>
  <nz-spin [nzSpinning]="this.isLoading">
    <nz-table #basicTable [nzData]="treatmentList" nzSize="small" style="background-color:white"
              [nzTotal]="totalDataCount"
              [nzFrontPagination]=false
              [(nzPageIndex)]="currentPageIndex"
              [nzPageSize]="tablePageSize"
              (nzPageIndexChange)=reloadTreatmentList()
    >
      <thead>
      <tr>
        <th>名称</th>
        <th>执行科室</th>
        <ng-template [ngIf]="this.controlMode == 'full' || this.controlMode == 'setup'">
          <th>医保名称</th>
          <th>医保编码</th>
          <th>医保上传</th>
          <th>医保匹配</th>
        </ng-template>
        <th>作废</th>
        <th>最后修改人</th>
        <th>最后修改时间</th>
        <ng-template [ngIf]="this.controlMode == 'full' || this.controlMode == 'feeSetting'">
          <th>价格</th>
          <th>单位</th>
          <th>可自动计费</th>
          <th>可手动计费</th>
          <th>必选医嘱</th>
          <th>护理卡片</th>
        </ng-template>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data" nzShowRowSelection>
        <td>{{data.name}}</td>
        <td>{{data.executeDepartmentType}}</td>
        <ng-template [ngIf]="this.controlMode == 'full' || this.controlMode == 'setup'">
          <td>{{data.centerTreatment?.name}}</td>
          <td>{{data.centerCode}}</td>
          <td
            nz-popover
            [nzPopoverTitle]="data.ybUploadStatus == '上传出错'?'错误信息':null"
            [nzPopoverContent]="data.ybUploadStatus == '上传出错'?data.ybUploadError:null"
          >{{data.ybUploadStatus}}</td>
          <td>{{data.ybMatchStatus}}</td>
        </ng-template>
        <td><label nz-checkbox [(ngModel)]="!data.enabled" nzDisabled></label></td>
        <td>{{data.lastModifiedBy}}</td>
        <td>{{data.lastModifiedDate}}</td>
        <ng-template [ngIf]="this.controlMode == 'full' || this.controlMode == 'feeSetting'">
          <td>
            {{data.listPrice}}
          </td>
          <td>{{data.minSizeUom.name}}</td>
          <td><label nz-checkbox [(ngModel)]="data.allowAutoFee" (ngModelChange)="this.updateFeeSetting(data)"></label>
          </td>
          <td><label nz-checkbox [(ngModel)]="data.allowManualFee"
                     (ngModelChange)="this.updateFeeSetting(data)"></label></td>
          <td><label nz-checkbox [(ngModel)]="data.prescriptionRequired"
                     (ngModelChange)="this.updateFeeSetting(data)"></label></td>

          <td><label nz-checkbox [(ngModel)]="data.showInCard"
                     (ngModelChange)="this.updateFeeSetting(data)"></label></td>
        </ng-template>
        <ng-template [ngIf]="this.controlMode == 'full' || this.controlMode == 'setup'">
          <td>
            <button nz-button nzSize="small" nzType="primary" (click)="initTreatmentDetailModal(data)">修改</button>
          </td>
        </ng-template>
      </tr>
      </tbody>
    </nz-table>
  </nz-spin>


</div>
<nz-modal
  [nzMaskClosable]=false
  [(nzVisible)]="treatmentDetailModalVisible"
  nzTitle=诊疗信息
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="saveTreatment()"
  nzWidth="1000"
  nzOkText="保存"
  nzCancelText="关闭"
  [nzOkLoading]="this.treatmentDetailComponent.isSaving"
>
  <app-treatment-detail (treatmentSavedEvent)="onTreatmentSaved($event)"></app-treatment-detail>
</nz-modal>
