<div nz-row>

  <nz-select [(ngModel)]="selectOrderStatus"
             (ngModelChange)="this.loadOrderList()"
             nzMode="multiple"
             style="float: left;margin-right: 10px;">
    <nz-option *ngFor="let status of this.statusList" [nzValue]="status"
               [nzLabel]="status"></nz-option>
  </nz-select>

  <nz-form-label
    nzFor="selectWarehouse"
    style=" float: left;margin-left: 10px; "
    [hidden]="this.warehouseList && this.warehouseList.length <=1"
  >{{this.isReturnOrder ? "出库部门" : "入库部门"}}
  </nz-form-label>
  <nz-select nzShowSearch [(ngModel)]="this.selectWarehouse"
             (ngModelChange)="this.loadOrderList()"
             [hidden]="this.warehouseList && this.warehouseList.length <=1"
             style="width:150px; float: left;margin-right: 10px;"
  >
    <nz-option *ngFor="let warehouse of this.warehouseList"
               [nzLabel]="warehouse.department.name"
               [nzValue]="warehouse.uuid"
    ></nz-option>
  </nz-select>

  <nz-range-picker [(ngModel)]="filterDateRange"
                   (ngModelChange)="this.loadOrderList()"
                   style="width: 300px; float: left;
  margin-right: 10px;"></nz-range-picker>

  <input nz-input [(ngModel)]="searchNumber"
         [placeholder]="this.isReturnOrder?'出库单号':'入库单号/采购单号'"
         style=" float: left; margin-left: 10px; width:200px"/>
  <button nz-button nzType="primary" (click)="this.loadOrderList()"
          style=" float: left; margin-left: 10px;"
  ><i nz-icon nzType="search"></i>查询
  </button>

  <button nz-button nzType="primary" (click)="addOrder()"
          style=" float: left;margin-left: 10px;"
          *ngIf="this.sessionService.getUserPermission().commonComponent.partialOrderPermission.allowAdd"
  >新增
  </button>
</div>
<div nz-row>
  <nz-spin [nzSpinning]="this.isLoading">
    <nz-table #basicTable [nzData]="itemOrderList" nzSize="small" style="background-color:white"
              [nzTotal]="totalDataCount"
              [nzFrontPagination]=false
              [(nzPageIndex)]="currentPageIndex"
              [nzPageSize]="tablePageSize"
              (nzPageIndexChange)=pageIndexChanged()
    >
      <thead>
      <tr>
        <th>{{this.isReturnOrder ? "出库单号" : "入库单号"}}</th>
        <th>{{this.isReturnOrder ? "退货单号" : "采购单号"}}</th>
        <th>采购计划</th>
        <th>创建时间</th>
        <th>{{this.isReturnOrder ? "出库部门" : "入库部门"}}</th>
        <th>录入人</th>
        <th>备注</th>
        <th>批准日期</th>
        <th>批准人</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.orderNumber}}</td>
        <td>{{data.masterOrder.orderNumber}}</td>
        <td>{{data.masterOrder.orderRequest?.name}}</td>
        <td>{{data.whenCreated}}</td>
        <td>{{data.masterOrder.toWarehouse.department.name}}</td>
        <td>{{data.whoCreated}}</td>
        <td>{{data.masterOrder.reference}}</td>
        <td>{{data.approvedDate}}</td>
        <td>{{data.approvedBy}}</td>
        <td>{{data.orderStatus}}</td>
        <td>
          <button nz-button nzSize="small" nzType="primary" (click)="editOrder(data)">查看</button>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </nz-spin>

</div>
<nz-modal
  [nzMaskClosable]=false
  [(nzVisible)]="orderDetailVisible"
  [nzTitle]="this.isReturnOrder? '出库单':'入库单'"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="saveOrder()"
  nzWidth="95%"
  [nzOkText]="this.allowEdit()?'保存':null"
  nzCancelText="关闭"
  [nzOkLoading]=this.orderDetailComponent.saving
  [nzStyle]="{ top: '20px' }"
>
  <app-partial-order-detail (orderListRefreshRequiredEvent)="onRefreshRequired($event)"
                            [isReturnOrder]=this.isReturnOrder
                            [orderType]="this.orderType"
  ></app-partial-order-detail>
</nz-modal>
