
.row {
  display: table-row;
  border: 1px solid #cccccc;
}

.cell {
  display: table-cell;
  border: 1px solid #cccccc;
  padding: 5px;
}

.-thead{
  display:table-header-group;
}

table, td, th, thead {
  margin: 5px;
  border: 1px solid black;
  color: black;
  font-family: Arial, "Microsoft YaHei";
}

div,p {
  color: black
}
