<form nz-form [formGroup]="newMedicinePrescriptionForm">
  <!--  [nzLayout]="'inline'"-->
  <nz-spin [nzSpinning]="loading">
    <div nz-row>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="txtMedicine">药品</nz-form-label>
          <nz-form-control [nzSm]="12" [nzXs]="24">
            <app-common-dynamic-select
              (onSearchEvent)="searchMedicine($event)"
              formControlName="txtMedicine"
              [dataList]="this.medicineList"
              [totalDataCount]="this.medicineListTotalCount"
              [dataColumns]="['名称', '规格', '厂家','等级','价格', '库存',  '有效期']"
              (onSelectedItemChangedEvent)="this.selectedMedicineChanged($event)"
              [pageCount]=this.pageCount
              [allowKeyBoardControl]="true"
            >
            </app-common-dynamic-select>
            <div *ngIf="formErrors['selectMedicine']">{{ formErrors['selectMedicine'] }}</div>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="txtServeQuantity" nzRequired>每次剂量</nz-form-label>
          <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="请注明剂量">
            <nz-input-number
              nz-input
              formControlName="txtServeQuantity"
              #quantity
              [nzStep]="1"
              [nzMin]="0.01"
            ></nz-input-number>
            {{selectedMedicine ? selectedMedicine.serveSizeUom.name : ''}}
            <!--            <div *ngIf="formErrors['txtServeQuantity']">{{ formErrors['txtServeQuantity'] }}</div>-->
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [hidden]="!this.isOneOff">
      <nz-alert *ngIf="this.isChineseMedicine" nzType="info" nzMessage='当前药品为中草药，下面输入中药帖数而非总数量' nzShowIcon></nz-alert>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="txtFixedQuantity"
                         nzRequired>{{this.isChineseMedicine ? '帖数' : '数量'}}</nz-form-label>
          <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="请注明数量">
            <nz-input-number
              nz-input
              formControlName="txtFixedQuantity"
              #quantity
              [nzStep]="1"
              [nzMin]="1"
            ></nz-input-number>
            {{selectedMedicine ? this.isChineseMedicine ? '帖' : selectedMedicine.minSizeUom.name : ''}}
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="12">
        <nz-descriptions nzColumn="1" style="margin-top: 10px; margin-left: 43px">
          <nz-descriptions-item
            nzTitle="每次数量">   {{selectedMedicine && this.newMedicinePrescriptionForm.value.txtServeQuantity > 0 ? (this.newMedicinePrescriptionForm.value.txtServeQuantity / selectedMedicine.serveToMinRate).toFixed(2) + selectedMedicine.minSizeUom.name : ''}}</nz-descriptions-item>
        </nz-descriptions>

      </div>
      <!--      <div nz-col nzSpan="12">-->
      <!--        <nz-descriptions nzColumn="1" style="margin-top: 10px; margin-left: 43px">-->
      <!--          <nz-descriptions-item nzTitle="发药数量"> {{this.getIssueQuantityInfo()}}</nz-descriptions-item>-->
      <!--        </nz-descriptions>-->
      <!--      </div>-->
      <div nz-col nzSpan="12">
        <nz-descriptions nzColumn="1" style="margin-top: 10px; margin-left: 43px">
          <nz-descriptions-item nzTitle="单价">
            {{this.selectedMedicine ? (this.selectedMedicine.listPrice / this.selectedMedicine.departmentConversionRate).toFixed(2) + ':' + this.selectedMedicine.minSizeUom.name : ""}}
          </nz-descriptions-item>
        </nz-descriptions>
      </div>
    </div>

    <div nz-row *ngIf="!this.medicinePrescription ||!this.medicinePrescription.uuid">
      <nz-alert nzType="info" nzMessage='如此医嘱为组套医嘱，可按下方按钮添加同组药品。如组套内药品较多，可连续点击预加载所需的药品控件。' nzShowIcon></nz-alert>
      <button nz-button
              nzType="primary"
              (click)="addSameGroupMedicine()"
      >
        添加组套药品
      </button>
    </div>

    <div nz-row *ngFor="let row of this.sameGroupMedicineList; let i = index">

      <div nz-col nzSpan="11">
        <nz-form-label
          *ngIf="!this.isOneOff"
          [nzSm]="8" [nzXs]="24" nzRequired [nzFor]="row.medicineControl.controlInstance">组套药品
        </nz-form-label>
        <nz-form-item>
          <nz-form-control [nzSm]="12" [nzXs]="24">
            <app-common-dynamic-select
              (onSearchEvent)="searchMedicine($event,row)"
              [formControlName]="row.medicineControl.controlInstance"
              [dataList]="row.medicineControl.medicineList"
              [totalDataCount]="row.medicineControl.medicineListTotalCount"
              [dataColumns]="['名称', '规格', '厂家','等级','价格', '库存', '有效期']"
              [pageCount]=row.medicineControl.pageCount
              (onSelectedItemChangedEvent)="this.selectedSameGroupMedicineChanged(row, $event)"
              [allowKeyBoardControl]="true"
              placeHolder="搜索组套药品"
            >
            </app-common-dynamic-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="this.isOneOff ?6:12">
        <nz-form-item>
          <nz-form-label
            *ngIf="!this.isOneOff"
            [nzSm]="8" [nzXs]="24" [nzFor]="row.serveQuantityControl.controlInstance"
            nzRequired>每次剂量
          </nz-form-label>
          <nz-form-control [nzSm]="this.isOneOff?20:12" [nzXs]="24" nzErrorTip="请注明剂量">
            <nz-input-number
              nz-input
              [formControlName]="row.serveQuantityControl.controlInstance"
              #quantity
              [nzStep]="1"
              [nzMin]="0.01"
              nzPlaceHolder="每次剂量"
            ></nz-input-number>
            {{this.getGroupMedicineUom(i, "serveSizeUom")}}
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="6" [hidden]="!this.isOneOff || this.isChineseMedicine">
        <nz-form-item>
          <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="发药数量">
            <nz-input-number
              nz-input
              [formControlName]="row.issueQuantityControl.controlInstance"
              #quantity
              [nzStep]="1"
              [nzMin]="0.01"
              nzPlaceHolder="发药数量"
            ></nz-input-number>
            {{this.getGroupMedicineUom(i, "minSizeUom")}}
          </nz-form-control>
        </nz-form-item>
      </div>

      <i nz-icon nzType="minus-circle-o" class="dynamic-delete-button" style="float: left; margin-top: 10px"
         (click)="removeRowControl(row, $event)"
      ></i>
    </div>


    <div nz-row [hidden]="this.hideDiagnoseSelection()">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="selectDiagnose">精麻药品诊断</nz-form-label>
          <nz-form-control [nzSm]="12" [nzXs]="24">
            <app-common-dynamic-select
              (onSearchEvent)="searchDiagnose($event)"
              formControlName="selectDiagnose"
              [dataList]="this.diagnoseList"
              [totalDataCount]="this.diagnoseListTotalCount"
              [dataColumns]="['编码','名称']"
              [pageCount]="this.diagnoseListPageCount"
            >
            </app-common-dynamic-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="selectFrequency" nzRequired>频次</nz-form-label>
          <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="请选择频次">
            <nz-select
              nzShowSearch
              nzPlaceHolder="选择频次"
              formControlName="selectFrequency"
              (ngModelChange)="frequencyChanged($event)"
            >
              <nz-option *ngFor="let frequency of this.frequencyList" [nzValue]="frequency.id"
                         [nzLabel]="frequency.code"></nz-option>
            </nz-select>
            <div *ngIf="formErrors['selectFrequency']">{{ formErrors['selectFrequency'] }}</div>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24">首日次数</nz-form-label>
          <nz-form-control [nzSm]="12" [nzXs]="24">
            <nz-input-number
              nz-input
              formControlName="txtFirstDayQuantity"
              [nzStep]="1"
              [nzMin]="0"
            ></nz-input-number>
            次
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>


    <div nz-row>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="selectUseMethod">途径</nz-form-label>
          <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="请选择途径">
            <nz-select
              nzShowSearch
              nzServerSearch
              nzPlaceHolder="选择途径"
              formControlName="selectUseMethod"
              [nzFilterOption]="nzFilterOption"
              (nzOnSearch)="searchUserMethod($event)"
            >
              <nz-option *ngFor="let useMethod of this.useMethodList" [nzValue]="useMethod.id"
                         [nzLabel]="useMethod.code"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24">滴速</nz-form-label>
          <nz-form-control [nzSm]="12" [nzXs]="24">
            <input
              nz-input
              formControlName="txtDropSpeed"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24">说明</nz-form-label>
          <nz-form-control [nzSm]="16" [nzXs]="24">
            <input
              nz-input
              formControlName="txtNote"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>


    <div nz-row hidden>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-control>
            <label nz-checkbox #chkManualDate
                   formControlName="chkManualDate"
                   (nzCheckedChange)="chkManualDateChanged($event)"
            >补录医嘱</label>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12" [hidden]="!chkManualDate.nzChecked">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" [nzRequired]="chkManualDate.nzChecked">开始时间</nz-form-label>
          <nz-form-control [nzSm]="16" [nzXs]="24">
            <nz-date-picker
              nzShowTime
              nzFormat="yyyy-MM-dd HH:mm:ss"
              nzPlaceHolder="选择日期时间"
              formControlName="dateStartDateTime"
              nzSize="small"
              [nzDisabledDate]="disabledDate"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </nz-spin>
</form>








