<nz-layout>
  <nz-sider nzCollapsible
            [(nzCollapsed)]="this.collapsed"
            nzTheme="light"
            [nzCollapsedWidth]="30"
            [nzTrigger]="null"
  >
    <div nz-row>
      <button nz-button nzType="primary" nzSize="small"
              (click)="this.getOrderList()"
              style="margin-left: 20px"
      >
        刷新列表
      </button>
    </div>
    <div nz-row>
      <nz-tree
        #nzTreeComponent
        [nzData]="nodes"
        (nzClick)="nzClick($event.node)"
        [hidden]="this.collapsed"
        [nzExpandAll]=true
      >
      </nz-tree>
    </div>
  </nz-sider>
  <i
    nz-icon
    [nzType]="collapsed ? 'menu-unfold' : 'menu-fold'"
    (click)="this.collapsed = !this.collapsed"
  ></i>
  <nz-layout class="inner-layout">
    <nz-tabset nzSize="small" (nzSelectedIndexChange)=selectedTabChanged($event) [(nzSelectedIndex)]="selectedTabIndex">
      <nz-tab nzTitle="明细格式">
        <div nz-row>
          <button nz-button nzType="primary"
                  *ngIf="this.sessionService.getUserPermission().commonComponent.pendingMedicineOrder.allowEdit
                      && this.selectedNode && this.selectedNode.origin.status == '已提交'"
                  (click)="this.processOrder('all')"
                  [nzLoading]="this.processing"
          >
            提交
          </button>
          <button nz-button nzType="primary"
                  *ngIf="this.sessionService.getUserPermission().commonComponent.pendingMedicineOrder.allowReturn
                      && this.selectedNode && this.selectedNode.origin.status == '已处理'"
                  (click)="this.updateOrderStatus('reject')"
                  [nzLoading]="this.processing"
          >
            退回
          </button>
          <button nz-button nzType="primary"
                  *ngIf="this.sessionService.getUserPermission().commonComponent.pendingMedicineOrder.allowConfirm
                      && this.selectedNode && this.selectedNode.origin.status == '已处理'"
                  (click)="this.updateOrderStatus('confirm')"
                  [nzLoading]="this.processing"
          >
            确认
          </button>

          <nz-alert
            nzType="info" nzMessage="若不发药，则去除发药项目前的勾选项. 若需病区重新提交发药单，单击发药项目列最后的重新提交按钮"></nz-alert>
        </div>
        <div nz-row>
          <nz-spin [nzSpinning]="this.loading">
            <nz-table #tblOrderLine [nzData]="pendingOrderLineList" nzSize="small"
                      [nzPageSize]="pageSize"
                      [nzShowPagination]="false"
                      style="background-color:white">
              <ng-template ngFor let-data [ngForOf]="tblOrderLine.data">
                <thead>
                <tr>
                  <th
                    *ngIf="this.sessionService.getUserPermission().commonComponent.pendingMedicineOrder.allowEdit"
                    nzWidth="30px"
                    [(nzChecked)]="allLineChecked"
                    [nzIndeterminate]="false"
                    (nzCheckedChange)="checkAll($event)"
                    nzShowCheckbox
                    [hidden]="data.status != '待处理'"
                  ></th>
                  <th style="width: 100px">病区</th>
                  <th>病房</th>
                  <th>病人</th>
                  <th>药品名称</th>
                  <th>规格</th>
                  <th>厂家</th>
                  <th>价格</th>
                  <th>用法</th>
                  <th>应发数量</th>
                  <th [hidden]="data.status == '待处理'">发药</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td
                    *ngIf="this.sessionService.getUserPermission().commonComponent.pendingMedicineOrder.allowEdit"
                    nzShowCheckbox [(nzChecked)]="mapOfCheckedLineId[data.uuid]"
                    [hidden]="data.status != '待处理'"
                  >
                  </td>
                  <td>{{tblOrderLine.data.indexOf(data) % pageSize == 0 || data.patientGroupIndex == 0 ? data.ward : undefined}}</td>
                  <td>{{tblOrderLine.data.indexOf(data) % pageSize == 0 || data.patientGroupIndex == 0 ? data.wardRoom : undefined}}</td>
                  <td>{{tblOrderLine.data.indexOf(data) % pageSize == 0 || data.patientGroupIndex == 0 ? data.patientName : undefined}}</td>
                  <td
                    nz-popover
                    [nzPopoverContent]="data.prescriptionDescription"
                    [ngStyle]="{'color':data.prescriptionValid?undefined:'red'}"
                  >{{data.orderLineCommon.medicineName}}
                    <ng-template [ngIf]=" data.slipRequired
                            && data.status == '待处理'">
                        <span
                          style="color: red"
                        >
                      （需处方单）
                    </span>
                      <button (click)="this.deletePrescriptionMedicineOrderLine(data.uuid)"
                              *ngIf="this.sessionService.getUserPermission().commonComponent.pendingMedicineOrder.allowReturn"
                              [nzLoading]="this.deletingOrderLine"
                              nz-button
                              nzSize="small"
                              nzType="primary"
                      >
                        重新提交
                      </button>
                    </ng-template>
                  </td>
                  <td>{{data.orderLineCommon.pharmacyModel}}</td>
                  <td>{{data.orderLineCommon.manufacturer}}</td>
                  <td>{{data.orderLineCommon.priceInfo}}</td>
                  <td>{{data.orderLineCommon.useMethodInfo}}</td>
                  <td>{{data.orderQuantityInfo}}</td>
                  <td [hidden]="data.status == '待处理'"
                      [ngStyle]="{'color':data.status == '未发药'?'red':undefined}"
                  >{{data.status}}</td>
                </tr>
                </tbody>
              </ng-template>
            </nz-table>
          </nz-spin>
        </div>
      </nz-tab>
      <nz-tab nzTitle="汇总格式">
        <div nz-row>
          <button nz-button nzType="primary"
                  *ngIf="this.sessionService.getUserPermission().commonComponent.pendingMedicineOrder.allowEdit
                      && this.selectedNode && this.selectedNode.origin.status == '已提交'"
                  (click)="this.processOrder('summary')"
                  [nzLoading]="this.processing"
                  style=" float: left; margin-left: 10px;"
          >
            提交
          </button>
          <button nz-button nzType="primary"
                  *ngIf="this.sessionService.getUserPermission().commonComponent.pendingMedicineOrder.allowReturn
                      && this.selectedNode && this.selectedNode.origin.status == '已处理'"
                  (click)="this.updateOrderStatus('reject')"
                  [nzLoading]="this.processing"
                  style=" float: left; margin-left: 10px;"
          >
            退回
          </button>
          <button nz-button nzType="primary"
                  *ngIf="this.sessionService.getUserPermission().commonComponent.pendingMedicineOrder.allowConfirm
                      && this.selectedNode && this.selectedNode.origin.status == '已处理'"
                  (click)="this.updateOrderStatus('confirm')"
                  [nzLoading]="this.processing"
                  style=" float: left; margin-left: 10px;"
          >
            确认
          </button>

          <button nz-button
                  nzType="primary" nzSize="default"
                  (click)="this.printClicked()"
                  style=" float: left; margin-left: 10px;"
          >打印
          </button>
        </div>
        <div nz-row>
          <nz-spin [nzSpinning]="this.summaryLoading">
            <nz-table #tblOrderSummaryLine [nzData]="this.pendingOrderSummaryLineList" nzSize="small"
                      [nzPageSize]="pageSize">
              <ng-template ngFor let-data [ngForOf]="tblOrderSummaryLine.data">
                <thead>
                <tr>
                  <th
                    *ngIf="this.sessionService.getUserPermission().commonComponent.pendingMedicineOrder.allowEdit"
                    nzWidth="30px"
                    [(nzChecked)]="allSummaryLineChecked"
                    [nzIndeterminate]="false"
                    (nzCheckedChange)="checkAll($event)"
                    nzShowCheckbox
                    [hidden]="data.status != '待处理'"
                  ></th>
                  <th style="width: 200px">药品名称</th>
                  <th>规格</th>
                  <th>厂家</th>
                  <th>价格</th>
                  <th>应发数量</th>
                  <th [hidden]="data.status == '待处理'">发药</th>
                  <th>病人</th>
                </tr>
                </thead>
                <tbody>

                <tr>
                  <td
                    *ngIf="this.sessionService.getUserPermission().commonComponent.pendingMedicineOrder.allowEdit"
                    nzShowCheckbox [(nzChecked)]="mapOfCheckedSummaryLineId[data.medicineId]"
                    [hidden]="data.status != '待处理'"
                  >
                  </td>
                  <td>{{data.orderLineCommon.medicineName}}</td>
                  <td>{{data.orderLineCommon.pharmacyModel}}</td>
                  <td>{{data.orderLineCommon.manufacturer}}</td>
                  <td>{{data.orderLineCommon.priceInfo}}</td>
                  <td>{{data.orderQuantityInfo}}</td>
                  <td [hidden]="data.status == '待处理'">{{data.status}}</td>
                  <td>{{data.patientsName}}</td>
                </tr>
                </tbody>
              </ng-template>
            </nz-table>
          </nz-spin>
        </div>
      </nz-tab>
    </nz-tabset>
  </nz-layout>
</nz-layout>
