<nz-spin [nzSpinning]="this.isLoading">
  <form nz-form [formGroup]="patientSignInForm">
    <fieldset>
      <legend>入院信息：</legend>

      <div nz-row>
        <div nz-col nzSpan="8">
          <nz-descriptions>
            <nz-descriptions-item
              nzTitle="姓名">{{patientSignIn && patientSignIn.patient ? patientSignIn.patient.name : ''}}</nz-descriptions-item>
          </nz-descriptions>
        </div>

        <div nz-col nzSpan="8">
          <nz-descriptions>
            <nz-descriptions-item
              nzTitle="证件类型">{{patientSignIn && patientSignIn.patient ? patientSignIn.patient.idTypeDto.name : ''}}</nz-descriptions-item>
          </nz-descriptions>
        </div>

        <div nz-col nzSpan="8">
          <nz-descriptions>
            <nz-descriptions-item
              nzTitle="证件号码">{{patientSignIn && patientSignIn.patient ? patientSignIn.patient.idNumber : '' }}</nz-descriptions-item>
          </nz-descriptions>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="selectSignInMethod">入院途径</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请选择入院途径">
              <nz-select
                nzShowSearch
                formControlName="selectSignInMethod"
              >
                <ng-template [ngIf]="initializePrams != undefined">
                  <nz-option *ngFor="let signInMethod of this.initializePrams.signInMethodList"
                             [nzValue]="signInMethod.id"
                             [nzLabel]="signInMethod.name"></nz-option>
                </ng-template>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="selectNursingLevel">护理级别</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请选择护理级别">
              <nz-select
                nzShowSearch
                formControlName="selectNursingLevel"
              >
                <ng-template [ngIf]="initializePrams != undefined">
                  <nz-option *ngFor="let nursingLevel of this.initializePrams.careLevelList" [nzValue]="nursingLevel.id"
                             [nzLabel]="nursingLevel.name"></nz-option>
                </ng-template>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="selectPatientCondition">病人状况</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <nz-select
                nzShowSearch
                formControlName="selectPatientCondition"
              >
                <ng-template [ngIf]="initializePrams != undefined">
                  <nz-option *ngFor="let patientCondition of this.initializePrams.patientConditionList"
                             [nzValue]="patientCondition.id"
                             [nzLabel]="patientCondition.name"></nz-option>
                </ng-template>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="selectDepartment">入院科室</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请选择入院科室">
              <nz-select
                nzShowSearch
                formControlName="selectDepartment"
              >
                <ng-template [ngIf]="initializePrams != undefined">
                  <nz-option *ngFor="let treatmentDepartment of this.initializePrams.departmentTreatmentList"
                             [nzValue]="treatmentDepartment.uuid"
                             [nzLabel]="treatmentDepartment.department.name"></nz-option>
                </ng-template>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="txtOwingLimit">欠费限额</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <nz-input-number
                formControlName="txtOwingLimit"
                placeholder="输入欠费限额"
                [nzStep]="1"
              >
              </nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="selectDoctor">主管医师</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请选主管医师">
              <nz-select
                nzShowSearch
                formControlName="selectDoctor"
              >
                <ng-template [ngIf]="initializePrams != undefined">
                  <nz-option *ngFor="let doctor of this.initializePrams.employeeList" [nzValue]="doctor.uuid"
                             [nzLabel]="doctor.name"></nz-option>
                </ng-template>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

      </div>
      <div nz-row>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="selectInsuranceType">医保类型</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请选择医保类型">
              <nz-select
                nzShowSearch
                formControlName="selectInsuranceType"
                [nzDisabled]="this.allowChangeInsuranceType()"
              >
                <ng-template [ngIf]="this.initializePrams && this.initializePrams.insuranceTypeList">
                  <nz-option *ngFor="let insuranceType of this.initializePrams.insuranceTypeList"
                             [nzValue]="insuranceType.id"
                             [nzLabel]="insuranceType.name"></nz-option>
                </ng-template>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

<!--        <div nz-col nzSpan="8" *ngIf="this.patientSignIn?.uuid && this.patientSignIn.status == '已入院'">-->
<!--          <button nz-button nzType="primary" nzSize="small" *ngIf="this.isSelfPay()"-->
<!--                  (click)="this.selfPayToInsurance()" [nzLoading]="this.isSaving"-->
<!--                  style="margin-top: 10px"-->
<!--          >转医保-->
<!--          </button>-->

<!--          <button nz-button nzType="primary" nzSize="small" *ngIf="!this.isSelfPay()"-->
<!--                  (click)="this.insuranceToSelfPay()" [nzLoading]="this.isSaving"-->
<!--                  style="margin-top: 10px"-->
<!--          >转自费-->
<!--          </button>-->
<!--        </div>-->

        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="selectDrgGroup">DRG病组</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <nz-select
                nzShowSearch
                formControlName="selectDrgGroup"
                nzAllowClear
              >
                <ng-template [ngIf]="initializePrams != undefined">
                  <nz-option *ngFor="let drgGroup of this.initializePrams.drgGroupList"
                             [nzValue]="drgGroup.uuid"
                             [nzLabel]="drgGroup.name"></nz-option>
                </ng-template>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="selectFromHospital">原转出医院</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <nz-select
                nzShowSearch
                formControlName="selectFromHospital"
                nzAllowClear
                [nzDropdownMatchSelectWidth]=false
                [nzDropdownRender]="renderTemplate"
              >
                <ng-template [ngIf]="initializePrams != undefined">
                  <nz-option *ngFor="let fromHospital of this.initializePrams.fromHospitalList"
                             [nzValue]="fromHospital.uuid"
                             [nzLabel]="fromHospital.name"></nz-option>

                </ng-template>
                <ng-template #renderTemplate>
                  <nz-divider></nz-divider>
                  <div class="container">
                    <input type="text" nz-input placeHolder='原转出医院' #inputElement/>
                    <button nz-button nzSize="small" (click)="addFromHospital(inputElement)"
                            [disabled]="inputElement.value == ''">添加原转出医院
                    </button>
                    <!--              <a class="add-item" (click)="addManufacturer(inputElement, control)"><i nz-icon nzType="plus"></i> 添加产地</a>-->
                  </div>
                </ng-template>
              </nz-select>

            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="dateSignIn">入院时间</nz-form-label>
            <nz-form-control [nzSm]="12" [nzXs]="24">
              <nz-date-picker
                nzShowTime
                nzFormat="yyyy-MM-dd HH:mm:ss"
                nzPlaceHolder="选择日期时间"
                formControlName="dateSignIn"
              ></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="selectMedType">医疗类别</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请选择医疗类别">
              <nz-select
                nzShowSearch
                formControlName="selectMedType"
              >
                <ng-template [ngIf]="initializePrams != undefined">
                  <nz-option *ngFor="let medType of this.initializePrams.medTypeList"
                             [nzValue]="medType.id"
                             [nzLabel]="medType.name"></nz-option>
                </ng-template>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

<!--        <div nz-col nzSpan="8">-->
<!--          <nz-form-item>-->
<!--            <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="selectInsuranceArea">医保地区</nz-form-label>-->
<!--            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请选择医保地区">-->
<!--              <nz-select-->
<!--                nzShowSearch-->
<!--                formControlName="selectInsuranceArea"-->
<!--              >-->
<!--                <ng-template [ngIf]="initializePrams != undefined">-->
<!--                  <nz-option *ngFor="let insuranceArea of this.initializePrams.insuranceAreaList"-->
<!--                             [nzValue]="insuranceArea.id"-->
<!--                             [nzLabel]="insuranceArea.name"></nz-option>-->
<!--                </ng-template>-->
<!--              </nz-select>-->
<!--            </nz-form-control>-->
<!--          </nz-form-item>-->
<!--        </div>-->
      </div>

      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label [nzSm]="4" [nzXs]="12" nzFor="txtReference">备注</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="12">
              <textarea rows="3" nz-input formControlName="txtReference"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

    </fieldset>


    <fieldset>
      <legend>病情诊断：</legend>
      <div nz-row>
        <div nz-col nzSpan="8">
          <button type="button" (click)="this.patientSignInDiseaseTableComponent.addLineControl()"
                  class="ant-btn ant-btn-primary">添加诊断
          </button>
        </div>

      </div>
      <div nz-row>
        <app-patient-sign-in-disease [patientSignInForm]="this.patientSignInForm"></app-patient-sign-in-disease>
      </div>
    </fieldset>
  </form>
</nz-spin>
