<nz-layout>
  <nz-sider nzCollapsible
            [(nzCollapsed)]="this.collapsed"
            nzTheme="light"
            [nzCollapsedWidth]="30"
            [nzTrigger]="null"
  >

    <app-patient-select [hidden]="this.collapsed" [selectAll]="true" [loadAllOnInit]="false"></app-patient-select>
  </nz-sider>
  <i
    nz-icon
    [nzType]="collapsed ? 'menu-unfold' : 'menu-fold'"
    (click)="this.collapsed = !this.collapsed"
  ></i>
  <nz-layout class="inner-layout">
    <div nz-row>
      <!--      [hidden]="this.sessionService.loginUser.userRole.userRoleType !='系统管理员'"-->
      <nz-select
        nzShowSearch
        nzPlaceHolder="选择病区"
        [(ngModel)]="selectWard"
        (ngModelChange)="this.reloadPatientTree()"
        style=" float: left;"
      >
        <nz-option *ngFor="let ward of this.wardList" [nzValue]="ward"
                   [nzLabel]="ward.name"></nz-option>
      </nz-select>

      <nz-form-label
        style=" float: left;margin-left: 10px"
      >药品种类
      </nz-form-label>
      <nz-select nzShowSearch [(ngModel)]="this.selectMedicineType"
                 (ngModelChange)="this.loadPendingPrescriptionMedicineOrderList()"
                 nzAllowClear
                 style="width:150px; float: left; margin-left: 10px"
      >
        <nz-option *ngFor="let medicineType of this.medicineTypeList"
                   [nzLabel]="medicineType.name"
                   [nzValue]="medicineType.id"
        ></nz-option>
      </nz-select>

      <button nz-button nzType="primary"
              (click)="this.submitOrder()"
              [nzLoading]="this.busy"
              style="float: left; margin-left: 10px"
      >
        提交
      </button>

      <button nz-button nzSize="small" nzType="primary" nzShape="circle"
              (click)="this.loadPendingPrescriptionMedicineOrderList()"
              style="float: left; margin-left: 10px"
      ><i
        nz-icon nzType="reload"></i>
      </button>
      <ng-template [ngIf]="this.sessionService.loginUser.userRole.userRoleType == '系统管理员'">
        <label
        >测试用</label>
        <nz-date-picker
          nzFormat="yyyy-MM-dd"
          nzPlaceHolder="选择日期"
          [(ngModel)]="dateMockFutureDate"
          (ngModelChange)="this.loadPendingPrescriptionMedicineOrderList()"
          style="float: left; margin-left: 10px"
        ></nz-date-picker>
      </ng-template>

    </div>
    <div nz-row>
      <nz-table #basicTable [nzData]="pendingMedicineOrderList" nzSize="small"
                [nzPageSize]="pageSize"
                [nzShowPagination]="false">
        <thead>
        <tr>
          <th
            nzWidth="30px"
            [(nzChecked)]="allChecked"
            [nzIndeterminate]="false"
            (nzCheckedChange)="checkAll($event)"
            nzShowCheckbox
          ></th>
          <th>病区</th>
          <th>病房</th>
          <th>病人</th>
          <th>药品名称</th>
          <th>规格</th>
          <th>厂家</th>
          <th>价格</th>
          <th>用法</th>
          <th>应发数量</th>
        </tr>
        </thead>
        <tbody>
        <ng-template ngFor let-data [ngForOf]="basicTable.data">
          <tr>
            <td
              nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.prescriptionMedicineId]"
            >
            </td>
            <td>{{basicTable.data.indexOf(data) % pageSize == 0 || data.patientGroupIndex == 0 ? data.ward : undefined}}</td>
            <td>{{basicTable.data.indexOf(data) % pageSize == 0 || data.patientGroupIndex == 0 ? data.wardRoom : undefined}}</td>
            <td>{{basicTable.data.indexOf(data) % pageSize == 0 || data.patientGroupIndex == 0 ? data.patientName : undefined}}</td>
            <td
              nz-popover
              [nzPopoverContent]="data.prescriptionDescription"
              [ngStyle]="{'color':data.prescriptionValid?undefined:'red'}"
            >{{data.orderLineCommon.medicineName}}
              <span
                *ngIf=" data.slipRequired"
                style="color: red"
              >
                      （需处方单）
                    </span>
            </td>
            <td>{{data.orderLineCommon.pharmacyModel}}</td>
            <td>{{data.orderLineCommon.manufacturer}}</td>
            <td>{{data.orderLineCommon.priceInfo}}</td>
            <td>{{data.orderLineCommon.useMethodInfo}}</td>
            <td>{{data.orderQuantityInfo}}</td>
          </tr>
        </ng-template>
        </tbody>
      </nz-table>
    </div>
  </nz-layout>
</nz-layout>
