<nz-spin [nzSpinning]="this.loading">
  <nz-collapse>

    <nz-collapse-panel
      nzHeader="系统结算信息" nzActive>
      <div nz-row *ngIf="this.patientSignIn && !this.patientSignIn.selfPay">
        <nz-alert nzType="info" [nzCloseable]="true"
                  nzMessage="系统结算的医保报销费和待付金额为预估数据，医保起付线以及医保账户余额并未计算在内，请以预结或者最后结算信息为准"></nz-alert>
      </div>

      <div nz-row style="width: 50%">
        <nz-descriptions [nzColumn]="{ xxl: 4, xl: 4, lg: 4, md: 2, sm: 1, xs: 1 }" nzBordered nzSize="small">
          <nz-descriptions-item nzTitle="费用总额">
            {{this.patientSignIn ? this.patientSignIn.totalFeeAmount : undefined}}元
          </nz-descriptions-item>

          <nz-descriptions-item nzTitle="报销总额">
            {{this.patientSignIn ? this.patientSignIn.coveredFeeAmount : undefined}}元
          </nz-descriptions-item>

          <nz-descriptions-item nzTitle="自费总额">
            {{this.patientSignIn ? this.patientSignIn.selfPayFeeAmount : undefined}}元
          </nz-descriptions-item>

          <nz-descriptions-item nzTitle="未上传费用">
            {{this.patientSignIn ? this.patientSignIn.pendingFeeAmount : undefined}}元
            <button
              nzSize="small"
              nz-button nzType="primary"
              class="ant-btn ant-btn-primary"
              (click)="this.uploadFee()"
              [nzLoading]="this.uploadingFee"
              [disabled]="this.patientSignIn?.status == '已出院'"
            >上传
            </button>
          </nz-descriptions-item>

          <nz-descriptions-item nzTitle="已付金额">
            {{this.patientSignIn ? this.patientSignIn.totalPaidAmount : undefined}}元
          </nz-descriptions-item>

          <nz-descriptions-item nzTitle="余额">
            {{this.patientSignIn ? this.patientSignIn.accountBalance : undefined}}元
          </nz-descriptions-item>

          <nz-descriptions-item nzTitle="付(退)款">
            <nz-select
              nzShowSearch
              [(ngModel)]="this.selectPaymentMethod"
              style=" width: 150px"
            >
              <nz-option *ngFor="let paymentMethod of this.paymentMethodList" [nzValue]="paymentMethod"
                         [nzLabel]="paymentMethod.code"></nz-option>
            </nz-select>

            <nz-input-number
              [nzStep]="1000"
              [(ngModel)]="this.paymentAmount"
              [nzFormatter]="formatterDollar"
              [nzParser]="parserDollar"
              style="margin-left: 10px; width: 150px"
            ></nz-input-number>

            <button
              nzSize="small"
              nz-button nzType="primary"
              class="ant-btn ant-btn-primary"
              (click)="this.creatPayment()"
              [nzLoading]="this.creatingPayment"

              style="margin-left: 10px;"
            >{{this.paymentAmount > 0 ? '收款' : '退款'}}
            </button>
          </nz-descriptions-item>
        </nz-descriptions>
      </div>
      <!--      [disabled]="this.disablePayment()"-->
    </nz-collapse-panel>

    <nz-collapse-panel
      *ngIf="this.isFinalSettle"
      nzHeader="付款信息" [nzActive]="true">
      <app-payment-list [patientSignIn]="this.patientSignIn"></app-payment-list>
    </nz-collapse-panel>

    <nz-collapse-panel
      *ngIf="this.patientSignIn && !this.patientSignIn.selfPay"
      nzHeader="医保预结信息" [nzActive]="!this.isFinalSettle">
      <div nz-row>
        <label nz-checkbox
               #showAllPreSettlementItem
               style="float: left"
        >显示所有预结信息</label>

        <button
          nzSize="small"
          nz-button nzType="primary"
          class="ant-btn ant-btn-primary"
          style="margin-left: 10px; float: left"
          (click)="this.preSettle()"
          [nzLoading]="this.preSettling"
          [disabled]="this.patientSignIn.status == '已出院'"
        >医保预结算
        </button>
      </div>
      <div>
        <nz-descriptions [nzColumn]="{ xxl: 6, xl: 6, lg: 6, md: 4, sm: 2, xs: 1 }" nzBordered nzSize="small">
          <nz-descriptions-item nzTitle="费用总额">
            {{this.patientSignIn.preSettlement ? this.patientSignIn.preSettlement.medfee_sumamt : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="基金支付总额">
            {{this.patientSignIn.preSettlement ? this.patientSignIn.preSettlement.fund_pay_sumamt : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="全自费金额">
            {{this.patientSignIn.preSettlement ? this.patientSignIn.preSettlement.psn_part_amt : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="超限价自费费用">
            {{this.patientSignIn.preSettlement ? this.patientSignIn.preSettlement.overlmt_selfpay : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="先行自付金额">
            {{this.patientSignIn.preSettlement ? this.patientSignIn.preSettlement.preselfpay_amt : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="符合政策范围金额">
            {{this.patientSignIn.preSettlement ? this.patientSignIn.preSettlement.inscp_scp_amt : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="实际支付起付线">
            {{this.patientSignIn.preSettlement ? this.patientSignIn.preSettlement.act_pay_dedc : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="基本医疗保险统筹基金支出">
            {{this.patientSignIn.preSettlement ? this.patientSignIn.preSettlement.hifp_pay : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="基本医疗保险统筹基金支付比例">
            {{this.patientSignIn.preSettlement ? this.patientSignIn.preSettlement.pool_prop_selfpay : undefined}}
          </nz-descriptions-item>

          <nz-descriptions-item nzTitle="公务员医疗补助资金支出">
            {{this.patientSignIn.preSettlement ? this.patientSignIn.preSettlement.cvlserv_pay : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="企业补充医疗保险基金支出">
            {{this.patientSignIn.preSettlement ? this.patientSignIn.preSettlement.hifes_pay : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="居民大病保险资金支出">
            {{this.patientSignIn.preSettlement ? this.patientSignIn.preSettlement.hifmi_pay : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="职工大额医疗费用补助基金支出">
            {{this.patientSignIn.preSettlement ? this.patientSignIn.preSettlement.hifob_pay : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="医疗救助基金支出">
            {{this.patientSignIn.preSettlement ? this.patientSignIn.preSettlement.maf_pay : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="医院负担金额">
            {{this.patientSignIn.preSettlement ? this.patientSignIn.preSettlement.hosp_part_amt : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="其他支出">
            {{this.patientSignIn.preSettlement ? this.patientSignIn.preSettlement.oth_pay : undefined}}元
          </nz-descriptions-item>

          <nz-descriptions-item nzTitle="个人负担总金额">
            {{this.patientSignIn.preSettlement ? this.patientSignIn.preSettlement.psn_part_amt : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="个人账户支出">
            {{this.patientSignIn.preSettlement ? this.patientSignIn.preSettlement.acct_pay : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="个人现金支出">
            {{this.patientSignIn.preSettlement ? this.patientSignIn.preSettlement.psn_cash_pay : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="个人账户共济支付金额">
            {{this.patientSignIn.preSettlement ? this.patientSignIn.preSettlement.acct_mulaid_pay : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="余额">
            {{this.patientSignIn.preSettlement ? this.patientSignIn.preSettlement.balc : undefined}}元
          </nz-descriptions-item>

        </nz-descriptions>
      </div>
    </nz-collapse-panel>

    <nz-collapse-panel *ngIf="this.isFinalSettle && (this.patientSignIn && !this.patientSignIn.selfPay)"
                       nzHeader="医保正式结算信息" nzActive>
      <div nz-row>
        <label nz-checkbox
               #showAllSettlementItem
        >显示所有结算信息</label>
      </div>
      <div>
        <nz-descriptions [nzColumn]="{ xxl: 6, xl: 6, lg: 6, md: 4, sm: 2, xs: 1 }" nzBordered nzSize="small">
          <nz-descriptions-item nzTitle="费用总额">
            {{this.patientSignIn.settlement ? this.patientSignIn.settlement.medfee_sumamt : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="全自费金额">
            {{this.patientSignIn.settlement ? this.patientSignIn.settlement.psn_part_amt : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="超限价自费费用">
            {{this.patientSignIn.settlement ? this.patientSignIn.settlement.overlmt_selfpay : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="先行自付金额">
            {{this.patientSignIn.settlement ? this.patientSignIn.settlement.preselfpay_amt : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="符合政策范围金额">
            {{this.patientSignIn.settlement ? this.patientSignIn.settlement.inscp_scp_amt : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="实际支付起付线">
            {{this.patientSignIn.settlement ? this.patientSignIn.settlement.act_pay_dedc : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="基本医疗保险统筹基金支出">
            {{this.patientSignIn.settlement ? this.patientSignIn.settlement.hifp_pay : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="基本医疗保险统筹基金支付比例">
            {{this.patientSignIn.settlement ? this.patientSignIn.settlement.pool_prop_selfpay : undefined}}
          </nz-descriptions-item>

          <nz-descriptions-item nzTitle="公务员医疗补助资金支出">
            {{this.patientSignIn.settlement ? this.patientSignIn.settlement.cvlserv_pay : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="企业补充医疗保险基金支出">
            {{this.patientSignIn.settlement ? this.patientSignIn.settlement.hifes_pay : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="居民大病保险资金支出">
            {{this.patientSignIn.settlement ? this.patientSignIn.settlement.hifmi_pay : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="职工大额医疗费用补助基金支出">
            {{this.patientSignIn.settlement ? this.patientSignIn.settlement.hifob_pay : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="医疗救助基金支出">
            {{this.patientSignIn.settlement ? this.patientSignIn.settlement.maf_pay : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="医院负担金额">
            {{this.patientSignIn.settlement ? this.patientSignIn.settlement.hosp_part_amt : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="其他支出">
            {{this.patientSignIn.settlement ? this.patientSignIn.settlement.oth_pay : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="基金支付总额">
            {{this.patientSignIn.settlement ? this.patientSignIn.settlement.fund_pay_sumamt : undefined}}元
          </nz-descriptions-item>

          <nz-descriptions-item nzTitle="个人负担总金额">
            {{this.patientSignIn.settlement ? this.patientSignIn.settlement.psn_part_amt : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="个人账户支出">
            {{this.patientSignIn.settlement ? this.patientSignIn.settlement.acct_pay : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="个人现金支出">
            {{this.patientSignIn.settlement ? this.patientSignIn.settlement.psn_cash_pay : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="个人账户共济支付金额">
            {{this.patientSignIn.settlement ? this.patientSignIn.settlement.acct_mulaid_pay : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="余额">
            {{this.patientSignIn.settlement ? this.patientSignIn.settlement.balc : undefined}}元
          </nz-descriptions-item>

        </nz-descriptions>
      </div>
    </nz-collapse-panel>

    <nz-collapse-panel *ngIf="this.patientSignIn && !this.patientSignIn.selfPay" [nzActive] = false nzHeader="非医疗费用信息">
      <nz-alert nzType="info" nzBanner nzMessage="非医疗费用不会用于医保结算单，请根据下列信息多退少补，另行开票" nzShowIcon></nz-alert>
      <div nz-row style="width: 50%">
        <nz-descriptions [nzColumn]="{ xxl: 4, xl: 4, lg: 4, md: 2, sm: 1, xs: 1 }" nzBordered nzSize="small">
          <nz-descriptions-item nzTitle="非医疗总额">
            {{this.patientSignIn ? this.patientSignIn.internalTotalFeeAmount : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="非医疗预交">
            {{this.patientSignIn ? this.patientSignIn.internalTotalPaidAmount : undefined}}元
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="非医疗余额">
            {{this.patientSignIn ? this.patientSignIn.internalBalanceAmount : undefined}}元
          </nz-descriptions-item>
        </nz-descriptions>
      </div>
    </nz-collapse-panel>
  </nz-collapse>
</nz-spin>
