<form nz-form [formGroup]="newUserForm">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>姓名</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="请输入姓名">
      <input nz-input formControlName="name" placeholder="名字"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>手机号码</nz-form-label>
    <nz-form-control [nzSpan]="12" [nzErrorTip]="userErrorTpl">
      <input nz-input formControlName="userName" placeholder="请以手机号码注册并登录"/>
      <ng-template #userErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          请输入用户名!
        </ng-container>
        <ng-container *ngIf="control.hasError('pattern')">
          手机号码格式不正确!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>密码</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="passwordErrorTpl">
      <input nz-input type="password" formControlName="password" (ngModelChange)="validateConfirmPassword()"/>
      <ng-template #passwordErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          请输入密码!
        </ng-container>
        <ng-container *ngIf="control.hasError('minlength')">
          密码至少为6位！
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>确认密码</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="confirmPasswordErrorTpl">
      <input nz-input type="password" formControlName="confirm" placeholder="再次输入密码"/>
      <ng-template #confirmPasswordErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          请再次输入密码!
        </ng-container>
        <ng-container *ngIf="control.hasError('confirm')">
          密码不相同!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzFor="selectUserRole">用户角色</nz-form-label>
    <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="请选择角色">
      <nz-select
        nzShowSearch
        formControlName="selectUserRole"
        (ngModelChange)="selectRoleChanged()"
      >
        <nz-option *ngFor="let userRole of this.userRoleList"
                   [nzValue]="userRole"
                   [nzLabel]="userRole.name"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>


  <div *ngIf="!this.hideDepartmentSelection()">
    <nz-form-item>
      <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired
                     nzFor="selectDepartment">{{this.selectDepartmentLabel}}</nz-form-label>
      <nz-form-control [nzSm]="12" [nzXs]="24">
        <nz-select
          nzMode="multiple"
          nzShowSearch
          formControlName="selectDepartment"

        >
          <nz-option *ngFor="let department of this.departmentList"
                     [nzValue]="department.uuid"
                     [nzLabel]="department.department.name"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

</form>





